In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import LongType,DateType,StringType
from pyspark.sql.types import StructField, StructType, BooleanType, ArrayType, IntegerType, DoubleType, FloatType
from delta import *
from delta.tables import *
from hdfs import InsecureClient
from os import PathLike
import pandas as teste
from pyspark.sql.functions import *
from pyspark.sql.functions import max as sparkMax
from pyspark.sql.functions import substring, avg, sum

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/project/uc2/silver/warehouse'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration Porject") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
# create gold database
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS UC2gold LOCATION 'hdfs://hdfs-nn:9000/project/uc2/gold/warehouse/UC2gold.db/'
    """
)
# create table in gold
spark.sql(
    """
    DROP TABLE IF EXISTS UC2gold.gold_vehicle_information
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE UC2gold.gold_vehicle_information (
        Accident_Index STRING,
        Age_Band_of_Driver STRING,
        Age_of_Vehicle INTEGER,
        Engine_Capacity_CC STRING,
        Brand STRING,
        Vehicle_Type STRING,
        Accident_year INT,
        Accident_Severity STRING,
        Day_of_Week STRING,
        Number_of_Casualties INT
        )
        
    LOCATION 'hdfs://hdfs-nn:9000/project/uc2/gold/warehouse/UC2gold.db/gold_vehicle_information/'
    """
)

DataFrame[]

In [3]:
# read data from the silver tables
df_final_Cris = spark.table("vehicle_silver.vehicle_silver_deltalake_table")
df_final_Sara = spark.table("Accident_silver.deltalake_table")

# Join
join_df = df_final_Cris \
    .join(df_final_Sara, df_final_Cris.Accident_Index == df_final_Sara.Accident_Index) \
    .select("vehicle_silver_deltalake_table.Accident_Index", "vehicle_silver_deltalake_table.Age_Band_of_Driver","vehicle_silver_deltalake_table.Age_of_Vehicle","vehicle_silver_deltalake_table.Engine_Capacity_CC","vehicle_silver_deltalake_table.Brand","vehicle_silver_deltalake_table.Vehicle_Type","vehicle_silver_deltalake_table.Accident_year","Accident_Severity","Day_of_Week","Number_of_Casualties") \

join_df.show()

+--------------+--------------------+--------------+------------------+----------------+--------------------+-------------+-----------------+-----------+--------------------+
|Accident_Index|  Age_Band_of_Driver|Age_of_Vehicle|Engine_Capacity_CC|           Brand|        Vehicle_Type|Accident_year|Accident_Severity|Day_of_Week|Number_of_Casualties|
+--------------+--------------------+--------------+------------------+----------------+--------------------+-------------+-----------------+-----------+--------------------+
| 200501BS70192|             26 - 35|             8|              1896|      VOLKSWAGEN|Van / Goods 3.5 t...|         2005|           Slight|  Wednesday|                   1|
| 200501BS70739|Data missing or o...|             3|              1598|          TOYOTA|                 Car|         2005|           Slight|   Saturday|                   1|
| 200501CP00182|Data missing or o...|             3|              1896|      VOLKSWAGEN|                 Car|         2005|           Slight|  Wednesday|                   1|
| 200501CP00197|             26 - 35|            10|               498|        KAWASAKI|Motorcycle over 1...|         2005|           Slight|  Wednesday|                   1|
| 200501CP00212|             46 - 55|             5|              2664|LONDON TAXIS INT|Taxi/Private hire...|         2005|           Slight|    Tuesday|                   1|
| 200501CW10368|             46 - 55|             9|              1994|           ROVER|                 Car|         2005|           Slight|     Sunday|                   1|
| 200501CW10368|             21 - 25|             2|              1149|         RENAULT|                 Car|         2005|           Slight|     Sunday|                   1|
| 200501CW10403|             36 - 45|          null|                NA|         PEUGEOT|                 Car|         2005|           Slight|  Wednesday|                   1|
| 200501EO00115|             46 - 55|             9|              1896|      VOLKSWAGEN|Van / Goods 3.5 t...|         2005|           Slight|     Sunday|                   1|
| 200501EO40103|             46 - 55|            11|              2259|           HONDA|                 Car|         2005|           Slight|     Sunday|                   2|
| 200501GD10953|             21 - 25|            10|              1341|         HYUNDAI|                 Car|         2005|           Slight|   Thursday|                   1|
| 200501HT20374|Data missing or o...|             5|                49|           HONDA|Motorcycle 125cc ...|         2005|          Serious|    Tuesday|                   1|
| 200501ID60030|             66 - 75|            13|              1118|            FORD|                 Car|         2005|           Slight|    Tuesday|                   1|
| 200501JC30133|             36 - 45|             9|              1762|          TOYOTA|                 Car|         2005|           Slight|    Tuesday|                   1|
| 200501JC30457|             26 - 35|             4|              8268|          DENNIS|Bus or coach (17 ...|         2005|           Slight|   Thursday|                   1|
| 200501JC30589|             16 - 20|             2|              1149|         RENAULT|                 Car|         2005|           Slight|     Sunday|                   1|
| 200501KD50578|             26 - 35|          null|                NA|           HONDA|Bus or coach (17 ...|         2005|           Slight|     Monday|                   1|
| 200501KF60433|             21 - 25|             4|              5883|          DENNIS|Bus or coach (17 ...|         2005|           Slight|     Friday|                   1|
| 200501KF60531|             56 - 65|             3|              2461|      VOLKSWAGEN|                 Car|         2005|           Slight|     Sunday|                   3|
| 200501KF60531|             36 - 45|          null|                NA|           ROVER|Motorcycle over 5...|         2005|           Slight|     Sunday|                   3|
+--------------+--------------------+--------------+------------------+----------------+--------------------+-------------+-----------------+-----------+--------------------+
only showing top 20 rows

In [4]:
# Aggregate
gold_per_brand_df = join_df \
    .groupBy("vehicle_silver_deltalake_table.Accident_year","vehicle_silver_deltalake_table.Engine_Capacity_CC","vehicle_silver_deltalake_table.Brand") \
    .agg(
        count(join_df.Accident_Index).cast('STRING').alias("Accident_Index"),
        #sum(join_df.Accident_Index).cast('STRING').alias("Accident_Index")
    ) \
    .orderBy("Accident_year")
    

# write to delta table
gold_per_brand_df \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .option("mergeSchema", "true")\
    .save("hdfs://hdfs-nn:9000/project/uc2/gold/warehouse/UC2gold.db/gold_vehicle_information/gold_per_brand_df/")
  
gold_per_brand_df.count()

35793

In [5]:
# check the results in the table
gold_per_brand_df.toPandas()

       Accident_year Engine_Capacity_CC     Brand Accident_Index
0               2005               1165  KAWASAKI             14
1               2005               1200     BUELL             14
2               2005               1270    NISSAN             19
3               2005               2988    NISSAN              2
4               2005                248  KAWASAKI              7
...              ...                ...       ...            ...
35788           2016              10000     FODEN              1
35789           2016                847   PERODUA              2
35790           2016               1002    BIMOTA              1
35791           2016                645       BMW              1
35792           2016                997     HONDA              1

[35793 rows x 4 columns]

In [6]:
gold_per_brand_df.show(1000)

+-------------+------------------+------------------+--------------+
|Accident_year|Engine_Capacity_CC|             Brand|Accident_Index|
+-------------+------------------+------------------+--------------+
|         2005|              2460|             VOLVO|             3|
|         2005|              1339|             HONDA|           347|
|         2005|              3000|               BMW|            18|
|         2005|              1100|             ROVER|             2|
|         2005|              8000|   SEDDON/ATKINSON|             2|
|         2005|               998|            AUSTIN|            52|
|         2005|              1781|              SEAT|            67|
|         2005|              1047|             HONDA|             1|
|         2005|              1398|           RENAULT|             1|
|         2005|              1900|           PEUGEOT|             2|
|         2005|              2148|          CHRYSLER|             8|
|         2005|              6224|        IVECO-FORD|             8|
|         2005|                NA|               CCM|             3|
|         2005|             11976|          MERCEDES|             2|
|         2005|             12000|           RENAULT|             1|
|         2005|              1997|            PROTON|             9|
|         2005|                NA|          IRIS.BUS|             2|
|         2005|              5947|              FORD|             1|
|         2005|                NA|          METROCAB|             2|
|         2005|               625|               KTM|             8|
|         2005|               399|            YAMAHA|            13|
|         2005|               121|             HONDA|             1|
|         2005|                49|             RIEJU|            14|
|         2005|               124|             RIEJU|             2|
|         2005|              1716|              SEAT|             3|
|         2005|              1790|            TOYOTA|             1|
|         2005|                NA|           LANDINI|             2|
|         2005|             15928|          MERCEDES|            10|
|         2005|               399|         HUSQVARNA|             2|
|         2005|              2671|              AUDI|             8|
|         2005|              1796|            TOYOTA|            51|
|         2005|               423|           LANDINI|             1|
|         2005|              1586|            SUZUKI|            42|
|         2005|              5998|           BENTLEY|            10|
|         2005|              1323|             MAZDA|            20|
|         2005|              2496|        LAND ROVER|             2|
|         2005|                NA|         MOTO ROMA|             2|
|         2005|              1997|          MERCEDES|            40|
|         2005|               249|            SUZUKI|            32|
|         2005|              1139|               KIA|             9|
|         2005|              1199|          VAUXHALL|           852|
|         2005|              4400|               BMW|             1|
|         2005|                NA|            BIMOTA|             1|
|         2005|              1974|            TOYOTA|             6|
|         2005|              9700|             VOLVO|             1|
|         2005|                NA|               BMW|            56|
|         2005|             13516|           RENAULT|             1|
|         2005|              1300|          VAUXHALL|             1|
|         2005|              2994|           RELIANT|             3|
|         2005|              1995|          VAUXHALL|           656|
|         2005|              7300|             VOLVO|           843|
|         2005|                49|               PGO|             5|
|         2005|               349|   HARLEY-DAVIDSON|             1|
|         2005|               125|             LIFAN|             1|
|         2005|              1002|            YAMAHA|            55|
|         2005|              3165|             ISUZU|             4|
|         2005|              2902|           HYUNDAI|            15|
|         2005|              1297|              FORD|            37|
|         2005|              1997|           HYUNDAI|            43|
|         2005|              1488|             HONDA|             7|
|         2005|               400|             HONDA|           107|
|         2005|               970|          VAUXHALL|             8|
|         2005|              1796|          MERCEDES|           180|
|         2005|               998|            YAMAHA|            70|
|         2005|              2980|            TOYOTA|            17|
|         2005|               223|            YAMAHA|             1|
|         2005|                NA|        VOLKSWAGEN|           338|
|         2005|              4250|            OPTARE|            10|
|         2005|               108|   SEDDON/ATKINSON|             1|
|         2005|              5900|            OPTARE|            23|
|         2005|                NA|   VESPA (DOUGLAS)|             8|
|         2005|              1052|            SUZUKI|             7|
|         2005|              1498|           HILLMAN|             1|
|         2005|                69|          MALAGUTI|             1|
|         2005|              1781|             SKODA|            94|
|         2005|               730|             VOLVO|             2|
|         2005|              3189|              AUDI|            35|
|         2005|              3199|          MERCEDES|            70|
|         2005|               647|             HONDA|           106|
|         2005|              4000|            TOYOTA|             4|
|         2005|              4196|            JAGUAR|            23|
|         2005|              1753|              FORD|          1165|
|         2005|              1600|            SUBARU|             1|
|         2005|              1043|        VOLKSWAGEN|            23|
|         2005|              2384|             VOLVO|             1|
|         2005|              2000|          MERCEDES|             1|
|         2005|              1690|   HARLEY-DAVIDSON|             1|
|         2005|              2179|              FIAT|             3|
|         2005|              1120|             ROVER|           648|
|         2005|                 6|        JOHN DEERE|             1|
|         2005|               600|          KAWASAKI|            32|
|         2005|                NA|       NEW HOLLAND|            59|
|         2005|              2400|        LAND ROVER|             1|
|         2005|               999|              FORD|             1|
|         2005|              1593|              AUDI|             1|
|         2005|              1272|              SEAT|             3|
|         2005|                49|               AJS|             2|
|         2005|              1798|           PEUGEOT|             1|
|         2005|              2400|          MERCEDES|             1|
|         2005|              2000|        MITSUBISHI|            44|
|         2005|              1118|           TRIUMPH|             1|
|         2005|                80|           PIAGGIO|             4|
|         2005|              1298|            YAMAHA|             8|
|         2005|                89|             HONDA|             7|
|         2005|                NA|           APRILIA|            81|
|         2005|              2231|            TOYOTA|             7|
|         2005|              2962|          MERCEDES|            30|
|         2005|              3400|           PORSCHE|             3|
|         2005|              3200|            JAGUAR|             1|
|         2005|               450|          KAWASAKI|             1|
|         2005|               980|            NISSAN|             1|
|         2005|              1552|            SUZUKI|             4|
|         2005|               748|            DUCATI|            51|
|         2005|              3999|        VOLKSWAGEN|             1|
|         2005|              1905|           CITROEN|           629|
|         2005|              9100|            SCANIA|             1|
|         2005|              1497|            TOYOTA|            53|
|         2005|              2099|            JAGUAR|            21|
|         2005|              1988|            TOYOTA|             1|
|         2005|                NA|  ALEXANDER DENNIS|             2|
|         2005|              5680|            MAN/VW|             3|
|         2005|              1489|             MAZDA|            41|
|         2005|               554|          KAWASAKI|             1|
|         2005|               499|             HONDA|            55|
|         2005|               499|     ROYAL ENFIELD|             8|
|         2005|              2800|        IVECO-FORD|            53|
|         2005|              1490|            NISSAN|             1|
|         2005|              8650|        DAF TRUCKS|             4|
|         2005|              1994|                MG|            44|
|         2005|             11000|               DAF|             1|
|         2005|              1988|             LEXUS|            14|
|         2005|               123|            SUZUKI|             1|
|         2005|              2286|              FIAT|             8|
|         2005|               198|             HONDA|             2|
|         2005|              2695|            NISSAN|             1|
|         2005|              1798|               KIA|             3|
|         2005|              6870|               MAN|            66|
|         2005|              1598|              MINI|            64|
|         2005|              1990|             MAZDA|             1|
|         2005|                NA|          LIEBHERR|             1|
|         2005|              8286|            DENNIS|             8|
|         2005|              1261|             HONDA|            58|
|         2005|               618|            DUCATI|             2|
|         2005|              2975|        MITSUBISHI|             1|
|         2005|              1998|          MERCEDES|           250|
|         2005|              1999|            TOYOTA|             4|
|         2005|              4400|           FERRARI|             1|
|         2005|             10000|            DENNIS|             6|
|         2005|              2429|          CHRYSLER|             6|
|         2005|              9000|           LEYLAND|             1|
|         2005|              1499|             SMART|             1|
|         2005|               592|          KAWASAKI|            39|
|         2005|              2464|           RENAULT|             2|
|         2005|              1120|           TRIUMPH|             1|
|         2005|               998|            SUZUKI|             1|
|         2005|              2127|             VOLVO|             1|
|         2005|                12|        DAF TRUCKS|             2|
|         2005|             11973|               MAN|            14|
|         2005|              2900|         SSANGYONG|             1|
|         2005|               652|               BMW|            19|
|         2005|              2299|          MERCEDES|            88|
|         2005|              2926|        LAND ROVER|            10|
|         2005|               843|            SUZUKI|             6|
|         2005|               650|           TRIUMPH|             2|
|         2005|              1000|           RENAULT|             1|
|         2005|              3000|            TOYOTA|            16|
|         2005|              2995|            TOYOTA|             9|
|         2005|              2490|            TOYOTA|             3|
|         2005|              2663|              FORD|            36|
|         2005|              2972|           HYUNDAI|             1|
|         2005|                NA|       LEYLAND DAF|            57|
|         2005|              1700|             VOLVO|             2|
|         2005|              2663|            NISSAN|            36|
|         2005|                NA|             IVECO|           131|
|         2005|               883|   HARLEY-DAVIDSON|            32|
|         2005|              5900|      TRANSBUS INT|             3|
|         2005|              2962|          VAUXHALL|            16|
|         2005|             12000|             FODEN|            30|
|         2005|              1681|            NISSAN|             2|
|         2005|              8500|            SCANIA|            36|
|         2005|              1060|            SCANIA|             1|
|         2005|              1388|             MAZDA|             8|
|         2005|              1275|       VANDEN PLAS|             1|
|         2005|               843|              FIAT|             1|
|         2005|              3239|      ASTON MARTIN|             2|
|         2005|              3791|     CHEVROLET GMC|             1|
|         2005|              3494|             ISUZU|             2|
|         2005|              6750|       ROLLS ROYCE|             1|
|         2005|                49|            GILERA|            22|
|         2005|                NA|               ERF|            46|
|         2005|                NA|     CHEVROLET GMC|             9|
|         2005|              1242|             MAZDA|            11|
|         2005|              2495|            JAGUAR|             7|
|         2005|             11967|               ERF|             3|
|         2005|              1781|        VOLKSWAGEN|           290|
|         2005|              2286|        LAND ROVER|            23|
|         2005|              2000|              SAAB|            26|
|         2005|               995|            DAEWOO|            51|
|         2005|              2946|           CITROEN|             8|
|         2005|              1360|           PEUGEOT|           808|
|         2005|              1116|           RENAULT|             1|
|         2005|              1294|           PEUGEOT|             8|
|         2005|               306|          KAWASAKI|             2|
|         2005|              1994|            SUBARU|           177|
|         2005|              1996|            AUSTIN|             1|
|         2005|              2999|             ISUZU|            21|
|         2005|              6800|             FODEN|             1|
|         2005|              2189|          VAUXHALL|             4|
|         2005|              1800|             MAZDA|             3|
|         2005|               350|   HARLEY-DAVIDSON|             2|
|         2005|             12882|             IVECO|             3|
|         2005|              2958|           RENAULT|             4|
|         2005|               800|            SUZUKI|             1|
|         2005|              2959|          VAUXHALL|             4|
|         2005|               249|               KTM|             2|
|         2005|               124| BRITISH TRACKSTAR|             1|
|         2005|              1598|              FORD|             1|
|         2005|                56|           APRILIA|             1|
|         2005|              1000|               ERF|             2|
|         2005|               459|           PIAGGIO|            13|
|         2005|             11946|          MERCEDES|           205|
|         2005|               748|            SUZUKI|            32|
|         2005|              2600|             MAZDA|             1|
|         2005|                NA|        OLDSMOBILE|             1|
|         2005|               124|           PIAGGIO|           318|
|         2005|              2000|            DAEWOO|             1|
|         2005|              1127|            SUZUKI|            19|
|         2005|                NA|             SETRA|             2|
|         2005|              1839|            SUZUKI|             8|
|         2005|               299|             HONDA|             1|
|         2005|                90|   VESPA (DOUGLAS)|             1|
|         2005|              2775|           KOMATSU|             1|
|         2005|              9200|               DAF|            78|
|         2005|              7201|          MERCEDES|             3|
|         2005|              2464|          CHRYSLER|             1|
|         2005|                59|               DAF|             1|
|         2005|              2998|          MERCEDES|            11|
|         2005|             22967|          MERCEDES|             1|
|         2005|              2798|             IVECO|             1|
|         2005|              2259|             HONDA|             6|
|         2005|                NA|  LEYLAND NATIONAL|            16|
|         2005|                50|             KYMCO|             1|
|         2005|              1297|             MAZDA|            15|
|         2005|                NA|            SMITHS|            15|
|         2005|              2499|              FORD|            22|
|         2005|              2902|               KIA|           145|
|         2005|               198|            YAMAHA|             1|
|         2005|              1180|            SUBARU|             1|
|         2005|                59|            DENNIS|            18|
|         2005|              1200|           RENAULT|             2|
|         2005|              1490|             HONDA|             1|
|         2005|              2490|             MAZDA|             3|
|         2005|               291|          KAWASAKI|             2|
|         2005|              4590|               MAN|             1|
|         2005|              1587|             VOLVO|            18|
|         2005|              3000|           LEYLAND|             1|
|         2005|                NA|             SKODA|            24|
|         2005|               125|          KAWASAKI|             6|
|         2005|              5960|          MERCEDES|             6|
|         2005|              1297|                MG|             1|
|         2005|              2400|              FIAT|             1|
|         2005|              1089|          KAWASAKI|             1|
|         2005|               249|           PIAGGIO|             1|
|         2005|              1990|              SAAB|            24|
|         2005|                NA|             CLAAS|             2|
|         2005|              8268|      TRANSBUS INT|            65|
|         2005|              4398|        LAND ROVER|            23|
|         2005|              1600|           PEUGEOT|             3|
|         2005|              2035|          MERCEDES|             1|
|         2005|                NA|            OPTARE|             3|
|         2005|                NA|           PIAGGIO|            46|
|         2005|              4000|            NISSAN|             1|
|         2005|               447|             HONDA|             8|
|         2005|               989|            YAMAHA|             6|
|         2005|               257|            LINHAI|             1|
|         2005|               123|         LAMBRETTA|             4|
|         2005|              1910|              FIAT|           299|
|         2005|              2776|          CHRYSLER|            15|
|         2005|               398|            YAMAHA|             7|
|         2005|               125|         Z Y MOTOR|             3|
|         2005|                85|             HONDA|            53|
|         2005|              4520|          MERCEDES|             2|
|         2005|              2496|              FORD|           119|
|         2005|                NA|           HER CHE|             1|
|         2005|              2696|         SSANGYONG|             1|
|         2005|              1491|                MG|             2|

In [7]:
spark.stop()